# py packages
*.egg-info
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
*~
*#

# Extensions
build/
compile_commands.json
*.so

# IDE/Editor
.cache/
.vs/
.vscode/
.idea/
.mypy_cache/

# testing
.hypothesis
.pytest_cache
*.coverage

# logs
*.log
